@tailwind base;
@tailwind components;
@tailwind utilities;

/* input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #edeaea;
}

::-webkit-scrollbar-thumb {
  background-color: #1640d6;
}

/* Define your custom styles for dark mode */
.dark {
  @apply bg-[#020020]  text-white transition-all ease-in duration-200;
}

/* Define your custom styles for light mode */
.light {
  @apply text-gray-900 transition-all duration-200 ease-in bg-white;
}
